.animate-slide-down {
    animation-fill-mode: forwards;
    animation: .3s slide-down ease-out;
}

.animate-slide-up {
    animation-fill-mode: forwards;
    animation: .3s slide-up ease-out;
}

.animate-fade-in {
    animation-fill-mode: forwards;
    animation: .3s fade-in ease-out;
}

.animate-fade-out {
    animation-fill-mode: forwards;
    animation: .3s fade-out ease-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide-down {
    0% {
        opacity: .4;
        transform: translateY(-8px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slide-up {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-8px);
    }
}
