.call-button {
    position: relative;
        
    @media (max-width: 576px) {
        display: none;
    }

    &--mobile {
        width: 26px;
        height: 26px;

        border-radius: 50%;
        border: 1px solid $pink;

        display: none;

        background-color: transparent;

        @media (max-width: 576px) {
            display: block;
        }
    }
}

.call-button__icon {
    width: 13px;
    height: 13px;

    position: absolute;
    top: 5px;
    left: 6px;

    fill: $pink;
}