.cost{
    height: auto;
    
    background: linear-gradient(185deg, #ff2f96 35%, #ff8f5a  );
    color: $white;
}

.cost__container {
    padding: 0;
    padding: 85px 7% 115px;

    @media (max-width: 992px) {
        padding: 85px 40px;
    }
    @media (max-width: 992px) {
        padding: 45px 20px;
    }
}

.cost__title {
    @media (max-width: 576px) {
        font-size: 28px;
    }
}

.cost__text {
    margin-top: 42px;

    line-height: 1.8;
    font-size: 18px;

    @media (max-width: 576px) {
        font-size: 15px;
    }
}