.header {
    padding-left: 0;
    background-color: $light_gray;

    z-index: 14;
}

.header__container {
    padding-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
        position: relative;
        flex-wrap: wrap;
    }
}

.header__menu{
    display: none;

    @media (max-width: 992px) {
        display: block;
        flex-grow: 1;
    }

    @media (max-width: 576px) {
        flex-grow: 0;
    }
}

.header__main-nav {
    flex-grow: 1;

    @media (max-width: 992px) {
        visibility: hidden;
        position: absolute;
        width: 88%;
        top: 85px;

        z-index: 12;
    }

    @media (max-width: 576px) {
        top: 65px;
        left: 25px;
    }
}

.header__site-list {
    @media (max-width: 992px) {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 100%;
        padding: 17px 0;

        background-color: lighten($gray, 38%);
        border-radius: 10px;
        border: 1px solid $black;
    }

    @media (max-width: 576px) {
        padding: 13px 0;
        height: 46px;
    }
}

.header__site-item {
    display: inline-block;
}

.header__site-link{
    margin-right: 30px;

    color: $black;

    @media (max-width: 992px) {
        margin: 0;
    }
    &:hover {
        color: $pink;

        &::after {
            content: '';

            background-color: $pink;

            width: 100%;
            height: 1px;

            margin: 0;

            position: absolute;
            bottom: -3px;
            left: 0;
        }
    }
}

.header__phone {
    font-weight: 700;
    margin-right: 30px;

    @media (max-width: 576px) {
        margin-right: 0;

        display: flex;
        justify-content: center;
    }
}

