.menu-button {
    height: 32px;
    width: 45px;

    border: none;
    background-color: transparent;

    @media (max-width: 576px) {
        width: 24px;
        height: 18px;
    }

    &:active, &:focus {
        outline: none;
    }
}

.menu-button__icon {
    width: 100%;
    height: 100%;
    fill: $pink;

    &--close {
        display: none;
    }
}