.slider {
    width: 70%;

    position: relative;
    
    @media(max-width: 576px) {
        width: 90%;
    }
}

.slider__button {
    width: 60px;
    height: 60px;

    position: absolute;
    top: 35%;

    background: url('../img/examples/arrow.svg') 60% 50% / 50% no-repeat , $white;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 10px -7px $black;
    z-index: 10;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        box-shadow: 0px 0px 15px -4px $black;
    }

    &--prev {
        transform: rotate(180deg);
        left: -15px;

        @media(max-width: 576px) {
            left: -28px;
        }
    }

    &--next {
        right: -15px;

        @media(max-width: 576px) {
            right: -28px;
        }
    }
}

.slider__inner {
    overflow: hidden;
}

.slider__wrapper {
    display: flex;

    transition: .4s all cubic-bezier(.34, .05, .02, 1.02);
}

.slider__item {
    height: 380px;

    position: relative;

    text-align: center;
}

.slider__image  {
    width: 93%;
    height: 288px;

    margin-bottom: 37px;

    object-fit: cover;

    @media(max-width: 576px) {
        margin-bottom: 10px;
    }
}

.slider__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    padding: 0 12px;

    color: $gray;
    font-size: 20px;
    line-height: 1.3;

    &:hover {
        color: $black;
    }
}