.social {
    display: flex;
    align-items: flex-end;
}

.social__link {
    display: flex;
    align-items: flex-end;
}

.social__icon {
    fill: $gray;

    margin-left: 30px;

    &_fb {
        height: 23px;
        width: 18px;

        margin-left: 0;
    }

    &_github {
        height: 24px;
        width: 24px;
    }

    &_hh {
        height: 34px;
        width: 34px;

        margin-bottom: -7px;
    }

    &:hover {
        fill: $pink;
    }
}