<footer class="footer">
    <div class="container footer__inner">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <nav class="nav footer__nav">
                    <a class="footer__nav__link" href="">Услуги</a>
                    <a class="footer__nav__link" href="">Портфолио</a>
                    <a class="footer__nav__link" href="">Стоимость</a>                    
                </nav>
            </div>
            <div class="col-lg-5">
                <div class="contacts">
                    <a class="contacts__link contacts__phone" href="tel:+79955063256" target="_blank">
                        <svg class="contacts__icon contacts__icon_phone">
                            <use xlink:href="#phone"></use>
                        </svg>
                        <span>+7 (995) 506 32 56</span>
                    </a>
                    <a class="contacts__link contacts__email" href="mailto:vadimveberg@gmail.com" target="_blank">
                        <svg class="contacts__icon  contacts__icon_email">
                            <use xlink:href="#email"></use>
                        </svg>
                        <span>vadimveberg@gmail.com</span>
                    </a>
                </div>                
            </div>
            <div class="col-lg-3">
                <div class="footer__links">
                    <button class="button button_pink footer__call-button">
                        Заказать звонок
                    </button>
                    <div class="social footer__social">
                        <a class="social__link" href="https://www.facebook.com/vadim.veberg.54/" target="_blank">
                            <svg class="social__icon social__icon_fb">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                        <a class="social__link" href="https://github.com/VadimVeberg" target="_blank">
                            <svg class="social__icon social__icon_inst">
                                <use xlink:href="#github"></use>
                            </svg>
                        </a>
                        <a class="social__link" href="https://www.instagram.com/fakecomfort/" target="_blank">
                            <svg class="social__icon social__icon_github">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                    </div> <!-- ./social-->
                </div> <!-- ./footer__links-->
            </div>
        </div>  <!--./row-->
    </div> <!-- ./container-->
    <div class="footer__copyright">
        <small class="footer__copyright__text">© Вадим Веберг, 2018-2020</small>
    </div>
</footer>