<header class="header">
    <div class="container header__container">
            <div class="header__menu">
                <button class="menu-button header__menu-button">
                    <svg class="menu-button__icon menu-button__icon--open">
                        <use xlink:href="#menu"></use>
                    </svg>
                    <svg class="menu-button__icon menu-button__icon--close">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
            </div>
            <nav class="main-nav header__main-nav">
                <ul class="site-list header__site-list">
                    <li class="site-list__item">
                        <a class="site-list__link" href="#">Услуги</a>
                    </li>
                    <li class="site-list__item">
                        <a class="site-list__link" href="#">Портфолио</a>
                    </li>
                    <li class="site-list__item">
                        <a class="site-list__link" href="#">Стоимость</a>
                    </li>
                </ul>
            </nav>
            <a class="phone header__phone" href="tel:+79955063256">
                +7 (995) 506 32 56
            </a>
            <button class="button button_pink call-button">
                Заказать звонок
            </button>
            <button class="call-button call-button_mobile">
                <svg class="call-button__icon">
                    <use xlink:href="#phone"></use>
                </svg>
            </button>
    </div>
</header>
