<header class="header">
    <div class="container">
        <div class=" header__container">
            <nav class="nav_mobile header__nav_mobile">
                <button class="menu-button">
                    <svg class="menu-button__icon">
                        <use xlink:href="#menu"></use>
                    </svg>
                </button>
            </nav>
            <nav class="nav header__nav">
                <a class="nav__link" href="#">Услуги</a>
                <a class="nav__link" href="#">Портфолио</a>
                <a class="nav__link" href="#">Стоимость</a>
            </nav>
            <a class="phone header__phone" href="tel:+79955063256">
                +7 (995) 506 32 56
            </a>
            <button class="button button_pink call-button">
                Заказать звонок
            </button>
            <button class="call-button call-button_mobile">
                <svg class="call-button__icon">
                    <use xlink:href="#phone"></use>
                </svg>
            </button>
        </div>
    </div>
</header>
