$orange: #ff4e2e;
$light_pink: #fc557c;
$pink: #f82370;
$black: #1f1f24;
$gray: #8993ad;
$light_gray: #fbfbfb;
$white: #ffffff;
$linear-gradient: linear-gradient(#fa0891, #f26127);

// $white: #fff;
// $pink: #ff5fa2;
// $black: #121212;
// $gray: #fafafa;
// $gray_dark: #a1a1a1;
// $radius: 10px;
// $radius_sm: 5px;
// $shadow: 0 0 25px rgba(0, 0, 0, .05);
